        /* Estilo do botão */
        a.button {
            background-color: #007bff; /* Cor azul */
            color: white; /* Texto branco */
            padding: 10px 50px; /* Padding do botão */
            border: none; /* Sem borda */
            border-radius: 5px; /* Bordas arredondadas */
            cursor: pointer; /* Cursor de ponteiro */
            font-size: 16px; /* Tamanho da fonte */
            transition: background-color 0.3s; /* Transição suave */
        }

        /* Estilo quando o mouse passa por cima */
        a.button:hover {
            background-color: #005ab9; /* Cor azul mais escura */
        }

        .portfolioList{
            font-size: 26px;
            color: white;
        }

        .botao{
            margin-top: 100px;
            margin-left: 200px;
        }

        .botao2{
            margin-top: 100px;
            margin-left: 200px;
        }

        .conteudo{
            position: relative;
            z-index: 0;
        }

        .contato{
            font-size: 26px;
            color: white;
        }
        
        body {
            background-color: rgb(77, 74, 74);
        }

        .foto{
            margin-left: 100px;
            margin-top: 100px;
        }

        .teste{
            color: white;
            padding-left: 500px;
            padding-right: 600px;
            margin-top: -350px;
            font-size: 26px;
            text-align: justify;
        }

        @media screen and (max-width: 600px){            
            .teste{
                color: white;
                padding-left: 420px;
                padding-right: 10px;
                margin-top: -360px;
                font-size: 50px;
                text-align: justify;
                width: 800px;
                display:inline-block;
                justify-content:center;
                align-content:center;
            }
            
            .foto{
                margin-top: 200px;
                margin-left: 50px;
            }

            body {
                background-color: black;
            }
        }
